body
{
    background-image: url("../images/subtle_white_mini_waves/subtle_white_mini_waves.png");
    padding-bottom: 10px;
}

.red-text
{
    color: red;
}

.darkred
{
    color: darkred;
}

/*for debugging*/
.blue
{
    background: blue;
}

input
{
    margin-bottom: 10px;
}

.max-height-600
{
    max-height: 600px;
    overflow-y: auto;
}

.max-height-300
{
    max-height: 300px;
    overflow-y: auto;
}

.text-area-input
{
    resize: none;
    border-color: #E6E6E6;
    background: #F7F7F7;
    color: #636363;
    padding: 10px 10px;
    height: 150px;
    overflow: visible;
}

.width-full
{
    width: 100%;
}

.panel-title
{
    display: inline-block;
    margin-right: 10px;
}

.input
{
    display:inline-block;
}


#goal-budget
{
    width: 120px;
    margin-right: 25px;
}

.goal-progress
{
    margin-top: 40px;
}

.overview-heading
{
    display: inline-block;
    margin: 0 10px 20px 15px;
}

.guest-bg
{
    background: url("../images/login-bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1020px)
{
    .guest-bg
    {
        background-size: auto;
    }
}


.login-screen
{
    margin-top:20px;
    padding: 10px;
}

.login-content
{
    margin: 20px auto 0 auto;
    max-width: 1100px;
    font-size: 1.2em;
}

.login-content > p
{
    color: #EDEDED;
    text-shadow: 1px 0 black;
    background: rgba(80, 80, 80, 0.6);
    padding-left: 5px;
    font-size: 1.2em;
}

.main-logo
{
    margin: auto;
    font-size: 6em;
    text-align: center;
    color: #dedede;
    text-shadow: 1px 0 0 black, 0 1px 0 black, 0 0 1px black;
}

.login-form
{
    width: 400px;
    margin: 20px auto 0 auto;
}

@media screen and (max-width: 500px)
{
    .login-form
    {
        width: 300px;
    }
}

#settings-currency
{
    text-transform: uppercase;
}

.login-form-text
{
    font-size: 0.8em;
}

.panel-body > a
{
    margin-top: 5px;
}

.view-hidden
{
    display: none;
}

.view-block
{
    display: block;
}

.view-inline
{
    display: inline;
}

.view-inline-block
{
    display: inline-block;
}

.keep-short
{
    max-width: 280px;
}

.keep-ultrashort
{
    max-width: 140px;
}

.expenses-extended-view
{
    margin-top: 40px;
    max-width: 600px;
}

.container-fluid > .row
{
    word-wrap:break-word;
}

#expenses-new-category
{
    margin-bottom: 15px;
}

#goal-budget-new, #goal-budget-edit
{
    margin-top: 23px;
}

.overview-add-expense-btn
{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.bottom-margin-20
{
    margin-bottom: 20px;
}

.bottom-margin-5
{
    margin-bottom: 5px;
}

.top-margin-10
{
    margin-top: 10px;
}

.btn.btn-primary.btn-lg
{
    margin-right: 20px;
}

.creation-date
{
    color: indigo;
}

.expense-category
{
    color: brown;
    font-weight: bold;
}