<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Savie | Categories</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" crossorigin="anonymous">

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% load staticfiles %}
    <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}"/>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{% static "js/js-cookie-master/src/js.cookie.js" %}"></script>
    <script src="{% static "js/category-chart.js" %}"></script>
    <script src="{% static "js/categories.js" %}"></script>
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar" aria-expanded="false" aria-controls="top-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "overview" account_name=current_money_account.name %}">Savie</a>
        </div>
        <div class="collapse navbar-collapse" id="top-navbar">
            <!--left navbar-->
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ current_money_account.name.capitalize }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for other_money_account in other_money_accounts %}
                            {% if other_money_account != current_money_account %}
                                <li><a href="{% url "categories" account_name=other_money_account.name %}">{{ other_money_account.name.capitalize }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <!--/left navbar -->

            <!--right navbar-->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ savie_user }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "settings" %}">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url "logout" %}">Log out</a></li>
                    </ul>
                </li>
            </ul>
            <!--/right navbar -->
        </div>
    </div><!-- /container -->
</nav>
<!-- /navbar -->


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills list-inline">
                <li role="presentation"><a href="{% url "overview" account_name=current_money_account.name %}">Overview</a></li>
                <li role="presentation"><a href="{% url "expenses" account_name=current_money_account.name %}">Expenses and budget</a></li>
                <li role="presentation" class="active"><a href="#">Categories</a></li>
                <li role="presentation"><a href="{% url "goals" account_name=current_money_account.name %}">Goals</a></li>
            </ul>
        </div>
        <div class="panel-body">

            <div id="category-status" class="alert alert-success view-hidden" role="alert">
                <span class="category-status-message"></span> <a href="#"><span class="glyphicon glyphicon-remove status-hide darkred" aria-hidden="true"></span></a>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Categories in use:</h4>
                        <div class="list-group menu max-height-600">
                            {% for category in categories %}
                                <a href="#" category-id="{{ category.id }}" class="list-group-item">{{ category.name.capitalize }}</a>
                            {% endfor %}
                        </div>
                        <button id="categories-new-category-btn" type="submit" class="btn btn-primary bottom-margin-20 width-full">New category</button>
                    </div>

                    <div class="col-sm-8">
                        <div id="categories-extended-view-edit" class="panel panel-default view-hidden">
                            <div class="panel-heading">
                                <h3 class="panel-title">Edit category</h3>
                                <a  href="#"><span class="glyphicon glyphicon-remove categories-extended-view-hide" aria-hidden="true"></span></a>
                            </div>
                            <div class="panel-body">

                                <input type="text" class="form-control" id="edit-title" value="Household expenses">
                                <textarea name="category-description" id="category-description" class="text-area-input width-full">Everything from the gas to the electric bill and other expenses that come with housing.</textarea>
                                <button id="category-submit-btn" type="submit" class="btn btn-primary top-margin-10 bottom-margin-5 width-full">Save changes</button>
                                <button id="category-delete-btn" type="submit" class="btn btn-danger bottom-margin-20 width-full">Remove category</button>


                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4>Top 10 expenses in this category <small> {{ current_month }} {{ current_year }}</small></h4>
                                    </div>
                                    <div id="category-graph-container" class="panel-body">
                                        <div id="chart_div"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="categories-extended-view-new" class="panel panel-default view-hidden">
                            <div class="panel-heading">
                                <h3 class="panel-title">Add new category</h3>
                                <a  href="#"><span class="glyphicon glyphicon-remove categories-extended-view-hide" aria-hidden="true"></span></a>
                            </div>
                            <div class="panel-body">
                                <input type="hidden" id="account-id" value="{{ current_money_account.id }}">
                                <input type="text" class="form-control" id="new-title" placeholder="Name your category">
                                <textarea name="category-description" id="category-description-new" class="text-area-input width-full" placeholder="Category description"></textarea>
                                <button id="category-submit-btn-new" type="submit" class="btn btn-primary top-margin-10 width-full">Add category</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center">
        Copyright 2015 Timotej Fartek
    </div>
</div>





<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>