<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Savie | Expenses</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" crossorigin="anonymous">

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% load staticfiles %}
    <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}"/>
    <script src="{% static "js/js-cookie-master/src/js.cookie.js" %}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{% static "js/expenses-chart.js" %}"></script>
    <script src="{% static "js/expenses.js" %}"></script>
    <script src="{% static "js/sugar.min.js" %}"></script>
</head>
<body>

<!-- navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar" aria-expanded="false" aria-controls="top-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "overview" account_name=current_money_account.name %}">Savie</a>
        </div>
        <div class="collapse navbar-collapse" id="top-navbar">
            <!--left navbar-->
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ current_money_account.name.capitalize }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for other_money_account in other_money_accounts %}
                            {% if other_money_account != current_money_account %}
                                <li><a href="{% url "expenses" account_name=other_money_account.name %}">{{ other_money_account.name.capitalize }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <!--/left navbar -->

            <!--right navbar-->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ savie_user }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "settings" %}">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url "logout" %}">Log out</a></li>
                    </ul>
                </li>
            </ul>
            <!--/right navbar -->
        </div>
    </div><!-- /container -->
</nav>
<!-- /navbar -->


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills list-inline">
                <li role="presentation"><a href="{% url "overview" account_name=current_money_account.name %}">Overview</a></li>
                <li role="presentation" class="active"><a href="#">Expenses and budget</a></li>
                <li role="presentation"><a href="{% url "categories" account_name=current_money_account.name %}">Categories</a></li>
                <li role="presentation"><a href="{% url "goals" account_name=current_money_account.name %}">Goals</a></li>
            </ul>
        </div>
        <div class="panel-body">

            <div id="monthly-budget-status" class="alert alert-success view-hidden" role="alert">
                <span class="monthly-budget-status-message"></span> <a href="#"><span class="glyphicon glyphicon-remove status-hide darkred" aria-hidden="true"></span></a>
            </div>

            <div class="budget-overview">
                <h3 class="overview-heading">Monthly budget: </h3>
                <input id="goal-budget" name="goal-budget" type="number" min="1" step="100" value="{{ monthly_budget }}" class="form-control input hidden-xs keep-ultrashort monthly-budget"><button id="expenses-update-budget-btn" type="button" class="btn btn-primary">Update</button>
                <input id="goal-budget-small" name="goal-budget" type="number" min="1" step="100" value="{{ monthly_budget }}" class="form-control visible-xs input width-full monthly-budget">
                <h3 class="overview-heading">Total expenses this month: <span id="total-expenses-value">{{ total_expenses }}</span> {{ currency }}</h3>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Expenses for this month</h4>
                            </div>
                            <div id="category-graph-container" class="panel-body">
                                <div id="chart_div"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div id="expense-status" class="alert alert-success view-hidden" role="alert">
                            <span class="expense-status-message"></span> <a href="#manage"><span class="glyphicon glyphicon-remove status-hide darkred" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>

                <div id="manage" class="row">
                    <div class="col-sm-4">
                        <h4>Expenses for this month:</h4>
                        <div class="list-group menu max-height-600">
                            {% for expense in expenses %}
                                <a href="#manage" expense-id="{{ expense.id }}" class="list-group-item"><span class="creation-date">{{ expense.created_at|date }}</span> <span class="expense-category">&lt;{{ expense.category.name.capitalize }}&gt;</span> <span class="expense-name">{{ expense.name }}</span></a>
                            {% endfor %}
                        </div>
                        <button id="expenses-new-expense-btn" type="submit" class="btn btn-primary bottom-margin-20 width-full">New expense</button>
                    </div>

                    <div class="col-sm-5">
                        <div id="expenses-extended-view-edit" class="panel panel-default view-hidden expenses-extended-view">
                            <div class="panel-heading">
                                <h4 class="panel-title">Edit expense</h4>
                                <a href="#manage"><span class="glyphicon glyphicon-remove expenses-extended-view-hide" aria-hidden="true"></span></a>
                            </div>
                            <div class="panel-body">
                                <label for="edit-title">Expense title:</label>
                                <input type="text" class="form-control" id="edit-title" value="New Linoleum">
                                <label for="edit-expense">Expense value:</label>
                                <input type="number" class="form-control" id="edit-expense" value="4000" min="0" step="10">

                                <label>Expense category:</label>
                                {% if default_category %}
                                <div class="dropdown bottom-margin-5" id="expenses-edit-category">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="categories-dropdown-edit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="button-text">{{ default_category.name.capitalize }}</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul id="cat-dd-edit" class="dropdown-menu" aria-labelledby="categories-dropdown-edit">
                                        {% for category in categories %}
                                            <li><a href="#manage">{{ category.name.capitalize }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <button id="submit-edit" type="submit" class="btn btn-primary bottom-margin-5 width-full">Save changes</button>
                                <button id="submit-delete" type="submit" class="btn btn-danger width-full">Remove expense</button>
                                {% else %}
                                <span><h3>Before you can add any expensess you must create at least one category.</h3></span>
                                <button id="submit-edit" type="submit" class="btn btn-primary bottom-margin-5 width-full" disabled>Save changes</button>
                                <button id="submit-delete" type="submit" class="btn btn-danger width-full" disabled>Remove expense</button>
                                {% endif %}
                            </div>
                        </div>

                        <div id="expenses-extended-view-new" class="panel panel-default view-hidden expenses-extended-view">
                            <div class="panel-heading">
                                <h4 class="panel-title">New expense</h4>
                                <a href="#manage"><span class="glyphicon glyphicon-remove expenses-extended-view-hide" aria-hidden="true"></span></a>
                            </div>
                            <div class="panel-body">
                                <input type="hidden" id="account-id" value="{{ current_money_account.id }}">
                                <label for="new-title">Expense title:</label>
                                <input type="text" class="form-control" id="new-title" placeholder="Name your expense">
                                <label for="new-expense">Expense value:</label>
                                <input type="number" class="form-control" id="new-expense" value="1" min="1" step="5">
                                <label>Expense category:</label>
                                {% if default_category %}
                                    <div class="dropdown" id="expenses-new-category">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="categories-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="button-text">{{ default_category.name.capitalize }}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul id="cat-dd" class="dropdown-menu" aria-labelledby="categories-dropdown">
                                            {% for category in categories %}
                                                <li><a href="#manage">{{ category.name.capitalize }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <button id="expense-submit-btn-new" type="submit" class="btn btn-primary width-full">Create expense</button>
                                {% else %}
                                    <div class="dropdown" id="expenses-new-category">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="categories-dropdown" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true" disabled>
                                            <span class="button-text">No categories created</span>
                                            <span class="caret"></span>
                                        </button>
                                    </div>
                                    <span><h3>Before you can add any expensess you must create at least one category.</h3></span>
                                    <button id="expense-submit-btn-new" type="submit" class="btn btn-primary width-full" disabled>Create expense</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center">
        Copyright 2015 Timotej Fartek
    </div>
</div>





<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>