<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Savie | Goals</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" crossorigin="anonymous">

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% load staticfiles %}
    <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}"/>
    <script src="{% static "js/js-cookie-master/src/js.cookie.js" %}"></script>
    <script src="{% static "js/goals.js" %}"></script>
    <script src="{% static "js/sugar.min.js" %}"></script>
</head>
<body>

<!-- navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar" aria-expanded="false" aria-controls="top-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "overview" account_name=current_money_account.name %}">Savie</a>
        </div>
        <div class="collapse navbar-collapse" id="top-navbar">
            <!--left navbar-->
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ current_money_account.name.capitalize }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for other_money_account in other_money_accounts %}
                            {% if other_money_account != current_money_account %}
                                <li><a href="{% url "goals" account_name=other_money_account.name %}">{{ other_money_account.name.capitalize }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <!--/left navbar -->

            <!--right navbar-->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ user }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "settings" %}">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url "logout" %}">Log out</a></li>
                    </ul>
                </li>
            </ul>
            <!--/right navbar -->
        </div>
    </div><!-- /container -->
</nav>
<!-- /navbar -->

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills list-inline">
                <li role="presentation"><a href="{% url "overview" account_name=current_money_account.name %}">Overview</a></li>
                <li role="presentation"><a href="{% url "expenses" account_name=current_money_account.name %}">Expenses and budget</a></li>
                <li role="presentation"><a href="{% url "categories" account_name=current_money_account.name %}">Categories</a></li>
                <li role="presentation" class="active"><a href="#">Goals</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="goal-status" class="alert alert-success view-hidden" role="alert">
                            <span class="goal-status-message"></span> <a href="#"><span class="glyphicon glyphicon-remove status-hide darkred" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Goals for this month:</h4>
                        <div class="list-group menu max-height-600">
                            {% for goal in goals %}
                                <a href="#" goal-id="{{ goal.id }}" class="list-group-item">{{ goal.name.capitalize }}</a>
                            {% endfor %}
                        </div>
                        <button id="goals-new-goal-btn" type="submit" class="btn btn-primary bottom-margin-20 width-full">New goal</button>
                    </div>
                    <div class="col-sm-8">
                        <div id="goals-extended-view-edit" class="panel panel-default view-hidden">
                            <div class="panel-heading">
                                <h3 class="panel-title">Edit goal</h3>
                                <a href="#"><span class="glyphicon glyphicon-remove goals-extended-view-hide" aria-hidden="true"></span></a>
                            </div>
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="edit-title" value="Spend less than 100000 EUR in a month">
                                            <textarea name="description-edit" id="description-edit" class="text-area-input width-full">Can I make it any clearer than this? Just don't overspend...</textarea>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <h4>Goal time frame:</h4>
                                            <label for="time-frame-from-edit">From: </label>
                                            <input id="time-frame-from-edit" name="time-frame-from-new" value="2015-02-15" type="date" class="form-control input edit width-full">
                                            <br>
                                            <label for="time-frame-to-edit">To: </label>
                                            <input id="time-frame-to-edit" name="time-frame-to-new" value="2015-03-13" type="date" class="form-control input edit width-full">
                                            <p class="goals-date-status view-hidden red-text">The 'from' date cannot be set later than the 'to' date</p>
                                        </div>
                                        <div class="col-md-7">
                                            <h4>Spending maximum:</h4>
                                            <input id="goal-budget-edit" name="goal-budget-edit" type="number" min="0" step="10" value="1000" class="form-control input keep-ultrashort view-inline-block">
                                            <span>EUR</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button id="goal-submit-btn-edit" type="submit" class="btn btn-primary width-full bottom-margin-5">Save changes</button>
                                            <button id="goal-delete-btn-edit" type="submit" class="btn btn-danger width-full">Remove goal</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 goal-progress">
                                            <h4>Goal progress:</h4>
                                            <div class="progress">
                                                <div id="goal-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                                    <span id="goal-progress-bar-text"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div id="goals-extended-view-new" class="panel panel-default view-hidden">
                            <div class="panel-heading">
                                <h3 class="panel-title">Add new goal</h3>
                                <a href="#"><span class="glyphicon glyphicon-remove goals-extended-view-hide" aria-hidden="true"></span></a>
                            </div>
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="hidden" value="{{ current_money_account.id }}" id="account-id">
                                            <input type="text" class="form-control" id="new-title" placeholder="Name your goal">
                                            <textarea name="description-new" id="description-new" class="text-area-input width-full" placeholder="Describe your goal"></textarea>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-5">
                                            <h4>Goal time frame:</h4>
                                            <label for="time-frame-from-new">From: </label>
                                            <input id="time-frame-from-new" name="time-frame-from-new" type="date" class="form-control input width-full">
                                            <br>
                                            <label for="time-frame-to-new">To: </label>
                                            <input id="time-frame-to-new" name="time-frame-to-new" type="date" class="form-control input width-full">
                                            <p class="goals-date-status view-hidden red-text">The 'from' date cannot be set later than the 'to' date</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <h4>Spending maximum:</h4>
                                            <input id="goal-budget-new" name="goal-budget-new" type="number" min="0" step="10" value="1000" class="form-control keep-ultrashort view-inline-block">
                                            <div class="view-inline-block">{{ currency }}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button id="goal-submit-btn-new" type="submit" class="btn btn-primary width-full">Add goal</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center">
        Copyright 2015 Timotej Fartek
    </div>
</div>






<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>