<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Savie | Overview</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" crossorigin="anonymous">

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% load staticfiles %}
    <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}"/>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{% static "js/overview-chart.js" %}"></script>

    <script src="{% static "js/settings.js" %}"></script>
    <script src="{% static "js/overview.js" %}"></script>
    <script src="{% static "js/sugar.min.js" %}"></script>
</head>
<body>

<input type="hidden" id="account-id" value="{{ current_money_account.id }}">

<!-- navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar" aria-expanded="false" aria-controls="top-navbar">                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Savie</a>
        </div>
        <div class="collapse navbar-collapse" id="top-navbar">
            <!--left navbar-->
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ current_money_account.name.capitalize }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for other_money_account in other_money_accounts %}
                            {% if other_money_account != current_money_account %}
                                <li><a href="{% url "overview" account_name=other_money_account.name %}">{{ other_money_account.name.capitalize }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <!--/left navbar -->


            <!--right navbar-->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ user }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'settings' %}">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}">Log out</a></li>
                    </ul>
                </li>
            </ul>
            <!--/right navbar -->
        </div>
    </div><!-- /container -->
</nav>
<!-- /navbar -->


<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills list-inline">
                <li role="presentation" class="active"><a href="#">Overview</a></li>
                <li role="presentation"><a href="{% url "expenses" account_name=current_money_account.name %}">Expenses and budget</a></li>
                <li role="presentation"><a href="{% url "categories" account_name=current_money_account.name %}">Categories</a></li>
                <li role="presentation"><a href="{% url "goals" account_name=current_money_account.name %}">Goals</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <a class="btn btn-primary btn-lg pull-right hidden-xs" href="{% url "expenses" account_name=current_money_account.name %}#manage" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add Expense
            </a>

            <h3 class="overview-heading">Your monthly spending budget: {{ monthly_budget }} {{ currency }} <br>
                Expenses for {{ current_month }} so far: {{ total_expenses }} {{ currency }}</h3>

            <a class="btn btn-primary btn-lg visible-xs overview-add-expense-btn" href="{% url "expenses" account_name=current_money_account.name %}" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add Expense
            </a>

            <div class="container-fluid">
                <div class="row">
                    <!--Goals overview-->
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Goals overview<small> From the previus month up to two months from now.</small></h4>
                            </div>

                            <div class="panel-body max-height-600 list-group">
                                {% for goal in goals %}
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">{{ goal.name.capitalize }}</h4>
                                    <div class="list-group-item-text">
                                        {% if goal.progress.status == "failed" %}
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                    <span>Failed</span>
                                                </div>
                                            </div>
                                        {% elif goal.progress.status == "completed" %}
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                    <span>Goal completed</span>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ goal.progress.percent_completed }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ goal.progress.percent_completed }}%;">
                                                    <span>{{ goal.progress.percent_completed }}% Completed</span>
                                                </div>
                                            </div>
                                        {% endif %}


                                        <div class="text-right">
                                            From {{ goal.date_from }} to {{ goal.date_to }}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!--/Goals overview-->

                    <!--Graph overview-->

{#                TODO: This month | Last month | Last 3 months | Last year | All time#}

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h4>Graph overview</h4>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="dropdown pull-right">
                                              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span id="graph-since-button-text">Since this month</span>
                                              <span class="caret"></span></button>
                                              <ul id="graph-since-options-list" class="dropdown-menu">
                                                <li class="view-hidden"><a id="graph-since-option-this-month" href="/">Since this month</a></li>
                                                <li><a id="graph-since-option-last-month" href="?timeframe=last-month">Since last month</a></li>
                                                <li><a id="graph-since-option-last-3-months" href="?timeframe=last-3-months">Since last 3 months</a></li>
                                                <li><a id="graph-since-option-last-year" href="?timeframe=last-year">Since last year</a></li>
                                                <li><a id="graph-since-option-all" href="?timeframe=all">Since your registration</a></li>
                                              </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div id="overview-graph-container" class="panel-body">
                                <div id="chart_div"></div>
                            </div>
                        </div>
                    </div>
                    <!--/Graph overview-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center">
        Copyright 2015 Timotej Fartek
    </div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>