<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Savie | THE finance manager</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" crossorigin="anonymous">

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% load staticfiles %}
    <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}"/>
    <script src="{% static "js/login.js" %}"></script>
</head>
<body class="guest-bg">
<div class="login-screen">

    <h1 class="main-logo">Savie</h1>

    <div class="login-content">
        <p>Savie is an online finance manager aimed at busy people with little time to spare for tasks such as managing their finances.
        Savie is perfect for students and young entrepreneurs who expect an aplication to be fast and intuitive while still being powerful.</p>

        <div class="login-form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <a id="login-tab-login" href="#">Log in</a>
                        </div>
                        <div class="col-xs-6 text-center">
                            <a id="login-tab-register" href="#">Register</a>
                        </div>
                    </div>
                </div>
                <form id="user-form" class="panel-body" action="{% url 'login'  %}" method="POST">
                    {% csrf_token %}

                    {% if next %}
                        <input id="next-url" type="hidden" name="next-url" value="{{ next }}">
                    {% endif %}
                    <input id="form-type" type="hidden" name="form-type" value="login">
                    <input id="currency" type="hidden" name="currency" value="EUR">
                    <label for="login-username">Username:</label>
                    <input id="login-username" name="username" type="text" class="form-control input">
                    <label id="login-password-label" for="login-password">Password:</label>
                    <input id="login-password" name="password" type="password" class="form-control input password-input">
                    <label id="login-password-confirm-label" for="login-password-confirm" class="view-hidden">Confirm password:</label>
                    <input id="login-password-confirm" name="password-confirm" type="password" class="form-control input password-input view-hidden">
                    <label id="login-email-label" for="login-email" class="view-hidden">Email:</label>
                    <input id="login-email" name="email" type="email" class="form-control input view-hidden">

                    {% if invalid_login %}
                        <p class="red-text login-form-text">{{ login_status }}</p>
                    {% endif %}

                    <p id="login-status" class="red-text login-form-text view-hidden"></p>

                    <input type="hidden" name="next" value="{{ next }}" />
                    <button id="login-submit-btn" type="submit" class="btn btn-primary">Log in</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>