<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Savie | Settings</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" crossorigin="anonymous">

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% load staticfiles %}
    <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}"/>
    <script src="{% static "js/sugar.min.js" %}"></script>
    <script src="{% static "js/settings.js" %}"></script>

</head>
<body>

<!-- navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar" aria-expanded="false" aria-controls="top-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "overview" account_name=current_money_account.name %}">Savie</a>
        </div>
        <div class="collapse navbar-collapse" id="top-navbar">
            <!--right navbar-->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ user }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}">Log out</a></li>
                    </ul>
                </li>
            </ul>
            <!--/right navbar -->
        </div>
    </div><!-- /container -->
</nav>
<!-- /navbar -->

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Settings</span>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    {% if changed_email or changed_password or changed_currency %}
                        {% if emails_match and new_passwords_match and valid_password %}
                            <div class="alert alert-success" role="alert">
                                You have successfully updated your account settings. <a href="#"><span class="glyphicon glyphicon-remove status-hide darkred" aria-hidden="true"></span></a>
                            </div>
                        {% else %}

                            {% if changed_currency or changed_email and emails_match or changed_password and valid_password and new_passwords_match %}
                                <div class="alert alert-warning" role="alert">
                                  You have successfully updated some of your account settings. <a href="#"><span class="glyphicon glyphicon-remove status-hide darkred" aria-hidden="true"></span></a>
                                </div>
                            {% endif %}

                            {% if not emails_match %}
                                <div class="alert alert-danger" role="alert">
                                    The emails you provided do not match so your email settings were not updated. <a href="#"><span class="glyphicon glyphicon-remove status-hide darkred" aria-hidden="true"></span></a>
                                </div>
                            {% endif %}
                            {% if not new_passwords_match %}
                                <div class="alert alert-danger" role="alert">
                                    The new passwords you provided do not match so your password settings were not updated. <a href="#"><span class="glyphicon glyphicon-remove status-hide darkred" aria-hidden="true"></span></a>
                                </div>
                            {% endif %}
                            {% if not valid_password %}
                                <div class="alert alert-danger" role="alert">
                                    The password you entered is not valid so your password settings were not updated. <a href="#"><span class="glyphicon glyphicon-remove status-hide darkred" aria-hidden="true"></span></a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="row">
                    <form id="settings-form" action="{% url 'settings' %}" method="POST" class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                        {% csrf_token %}
                        <h4>General settings</h4>
                        <label for="settings-username">Username:</label>
                        <input type="text" class="form-control" id="settings-username" disabled value="{{ request.user }}">
                        <label for="settings-currency">Currency:</label>
                        <input type="text" name="currency" maxlength="3" class="form-control" id="settings-currency" placeholder="{{ user.savieuser.currency }}">
                        <label for="settings-money-accounts">Money Accounts:</label>
                        <ul class="list-group max-height-300" id="settings-money-accounts">
                        {% for money_account in all_money_accounts %}
                            <a href="#" class="list-group-item">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <strong>{{ money_account.name.capitalize }}</strong>
                            </a>
                        {% endfor %}
                        </ul>
                        <div id="money-account-inputs">
                        {% for money_account in all_money_accounts %}
                            <input name="money-account-names[]" type="hidden" class="money-account-name" value="{{ money_account.name }}">
                        {% endfor %}
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-10">
                                    <input id="money-account-name" class="form-control" type="text" placeholder="Money account name">
                                </div>
                                <div class="col-xs-2">
                                    <button id="settings-add-money-account" type="button" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <h4>Email settings</h4>
                        <label for="settings-email">Email:</label>
                        <input type="email" class="form-control" id="settings-email" disabled value="{{ request.user.email }}">
                        <label for="settings-new-email">New Email:</label>
                        <input type="email" name="new-email" class="form-control" id="settings-new-email" placeholder="your@email.com">
                        <p class="red-text view-hidden" id="settings-new-email-status">Invalid email format</p>
                        <label class="view-hidden" id="settings-new-email-confirm-label" for="settings-new-email-confirm">Confirm New Email:</label>
                        <input type="email" name="new-email-confirm" class="form-control view-hidden" id="settings-new-email-confirm" placeholder="your@email.com">
                        <p class="red-text view-hidden" id="settings-new-email-confirm-status">The email addresses do not match</p>
                        <br>
                        <h4>Password settings</h4>
                        <label for="settings-password">Current Password:</label>
                        <input type="password" name="password" class="form-control" id="settings-password">
                        <p class="red-text view-hidden" id="settings-password-status">Invalid password</p>
                        <label id="settings-new-password-label" for="settings-new-password">New Password:</label>
                        <input type="password" name="new-password" class="form-control" id="settings-new-password">
                        <label class="view-hidden" id="settings-new-password-confirm-label" for="settings-new-password-confirm">Confirm New Password:</label>
                        <input type="password" name="new-password-confirm" class="form-control view-hidden" id="settings-new-password-confirm">
                        <p class="red-text view-hidden" id="settings-new-password-confirm-status">The passwords do not match</p>
                        <br>
                        <button id="settings-submit-form" type="submit" class="btn btn-primary width-full">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.container -->

<div class="container">
    <div class="text-center">
        Copyright 2015 Timotej Fartek
    </div>
</div>




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>